.basketBlock {
  background-color: #1c1e1f;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  
}

.basketPicture {
  width: 25%;
  padding: 0.5%;
}

@media screen and (max-width : 900px){
  .basketBlock {
    background-color: #1c1e1f;
    display: flex;
    flex-wrap: wrap;
  }

  .basketPicture {
    width: 45%;
    padding: 0.5%;
  }
}