.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #1c1e1f;
}
.HeaderLinks{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 5rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Headerlink {
  font-size: 1.5rem;
  padding : 2rem;
}

.link {
  color:  #e8e6e3;
  cursor: pointer;
  text-decoration: none;
}

.titre{
  color:  #e8e6e3;
  font-size: 2.2em;
  padding: 24px;
}

.titleLogo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (max-width : 800px){
  .Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #1c1e1f;
}

  .titre{
    color:  #e8e6e3;
    font-size: 1.5em;
    padding: 24px 20px 0px 20px ;
  }

  .link {
    color:  #e8e6e3;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.7em;
  }

  .logo{
    width: 50%;
    /* display: none; */
  }

  .HeaderLinks{
    padding-left: 15%;
  }

  .Headerlink {
    font-size: 1.5rem;
    padding : 0.8rem;
    float: right;
  }
}