.picture-day,img {
  text-align: center;
  width: 100%;
  height: 70vh;
}

@media screen and (max-width: 800px) {
  .img-picture-day {
    text-align: center;
    width: 70%;
    height: 40vmin;
  }
}