.blocPictureDay {
  display: flex;
  flex-direction: row;
  width : 100%;
}

h3{
  font-size: 2.0em;
}

.pictureDay{
  margin: 0;
}


.pictureDayImg {
  margin: 0;
  width: 90%;
  align-items: center;
  height: 80vh;
} 

.description {
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  width : 100%;
  height: 80vh;
  align-items: center;
  margin-right: 2%;
}

.explanation {
  width: 70%;
  align-items: center;
}

@media screen and (max-width: 900px) {

  h3{
    font-size: 1.5em;
  }
  h1{
    font-size: 1.5em;
  } 
  .blocPictureDay {
    display: flex;
    flex-direction: column;
    width : 100%;
    
  } 
  /* .explanation {
    width: 100%;
    height: 100%;  
    color: white;
    } */
   

  .pictureDayImg {
    text-align: center;
    width: 50%;
    height: 40vmin;
  }
  .description {
    background-color: #1c1e1f;
    color: white;
    display: flex;
    flex-direction: column;
    width : 100%;
    height: 80vh;
    align-items: center;
    margin-right: 2%;
  }
  
}
