.RandomPictures {
  column-count: 3;
}

.box-random-pictures {
  display: block;
  margin: 0;
  padding: 1rem;
}

.img-random-pictures {
  width: 100%;
  height: auto;
}
.fullscreen {
  width: 300px;
}
.button {
  background-color: grey;
  color: black;
  border : transparent;
  width: 6rem;
  border-radius: 20%;
  margin-right: 2rem;
}

/* .dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
} */


@media screen and (max-width : 800px) {
  .RandomPictures {
    display: flex;
    flex-wrap: wrap;
  }

  .box-random-pictures {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    width: 50%;
    padding: 1rem;
    vertical-align: middle;
  }
  .button {
    background-color: grey;
    color: black;
    border : transparent;
    width: rem;
    border-radius: 20%;
    margin-right: 2rem;
  }
}