.RandomPictures {
  display: flex;
  flex-wrap: wrap;
}

figure {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  width: 25%;
  padding: 1rem;
  vertical-align: middle;
}

figure > img {
  width: 100%;
  height: auto;
}

@media screen and (max-width : 800px) {
  .RandomPictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figure {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    width: 50%;
    padding: 1rem;
    vertical-align: middle;
  }
}
