.RandomPictures {
  column-count: 3;
}

.box-random-pictures {
  display: block;
  /* box-sizing: border-box; */
  margin: 0;
  /* width: 25%; */
  padding: 1rem;
  /* vertical-align: middle; */
}

.img-random-pictures {
  width: 100%;
  height: auto;
}

@media screen and (max-width : 800px) {
  .RandomPictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.box-random-pictures {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  width: 50%;
  padding: 1rem;
  vertical-align: middle;
}
}