.App {
  margin: 0;
  padding:0;
  text-align: center;
  background-color: #1c1e1f;
  color: #e8e6e3;
 
}

h1 {
  margin: 0;
  padding:0;
  text-align: center;
}

.fullScreenButton{
  background-color: black;
  color: white;
}
