.RandomPictures {
  column-count: 3;
}

.box-random-pictures {
  display: block;
  margin: 0;
  padding: 1rem;
}

.img-random-pictures {
  width: 100%;
  height: auto;
}
.fullscreen {
  width: 300px;
}
.button {
  background-color: grey;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
  border : transparent;
  width: 6rem;
  height: 2rem;
  border-radius: 20%;
  margin: 0 2rem ;
}


@media screen and (max-width : 800px) {
  .RandomPictures {
    display: flex;
    flex-wrap: wrap;
  }

  .box-random-pictures {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    width: 50%;
    padding: 1rem;
    vertical-align: middle;
  }
  .button {
    display: none;   
  }
  .title-random-pictures {
    font-size: 0.7em;
  }
}